* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.featuredItems {
  width: 400px;
  margin: 20px;
  padding: 30px;
  border-radius: 10px;
  -webkit-box-shadow: -21px 17px 31px -13px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -21px 17px 31px -13px rgba(0, 0, 0, 0.75);
  box-shadow: -21px 17px 31px -13px rgba(0, 0, 0, 0.75);
}
